<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 8 spring与shiro的整合 -->
    <bean id="myRealm" class="com.smy.shiro.MyRealm"></bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm">
            <ref bean="myRealm"></ref>
        </property>
    </bean>

    <!-- id 与filter的name保持一致 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" >
            <ref bean="securityManager"></ref>
        </property>
        <!-- 登陆的路径是login.action
            如果某一个资源需要认证授权，他会执行到login.action里
        -->
        <property name="loginUrl" value="/login.action"></property>

        <!-- 如果用户没有权限访问，会跳转到/error.jsp -->
        <property name="unauthorizedUrl" value="/error.jsp"></property>

        <!-- 过滤链    里面包含了给一些url，或者role,或者privilege的权限 -->
        <property name="filterChainDefinitions">
            <value>
                <!-- 退出路径是  /logout.action -->
                /logout.action=logout
                <!-- anon   error.jsp 可以不认证就进行访问 -->
                /error.jsp = anon

                <!--  该路径必须认证之后才能访问 -->
                /user/* = authc

                <!-- 必须是 role1的角色才能访问 -->
                /user/find.action = roles[role1]

                <!-- 所有的url 必须认证之后才能访问 -->
                /** =authc
            </value>

        </property>
    </bean>

</beans>